name: Cypress Tests

on:
  workflow_dispatch:
  push:
    branches: 
      - 'main'
jobs:
  cypress-run:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [16]
    name: E2E on Node v${{ matrix.node }}
    steps:
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
      - name: Checkout
        uses: actions/checkout@v2
      - name: Make executable the JSON-formatter
        run: chmod +x ./helper/cucumber-json-formatter
        env: 
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Cypress run
        uses: cypress-io/github-action@v4
        with:
          record: true
          tag: node-${{ matrix.node }}
          install-command: npm install
          config-file: config/cypress.config.js
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
      - name: Generate report
        if: always()
        run: npm run report:generate
      - name: Upload test run records
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: test_run_record
          path: ./cypress/videos
      - name: Upload report
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: cypress-cucumber-report
          path: ./reports/cucumber-htmlreport.html/
      - name: Deploy report
        uses: JamesIves/github-pages-deploy-action@4.1.4
        if: always()
        with:
          branch: gh-pages
          folder: ./reports/cucumber-htmlreport.html/
          target-folder: docs